h1 {
    background-color: rgb(16, 227, 227);
    color: rgb(196, 119, 144);
    font-size: 6rem;
   text-align: center;
   font-family:Arial, Helvetica, sans-serif;
}

header {
    background-color:rgb(196, 119, 144) ;
    color:rgb(16, 227, 227) ;
    font-size: 1,5rem;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0px
}
body{
    background: linear-gradient(250deg, rgb(90, 197, 223),#fa10fa,rgb(90, 197, 223),#fa10fa,rgb(90, 197, 223),#fa10fa);
    height: 100vh;
}

h2 {
    font-size: 4rem;
    background-color: rgb(16, 227, 227) ;
    color:rgb(196, 119, 144) ;
    text-align: center;
}

.frontpageimg {
    width: 100%;

}

footer {
    background-color:rgb(196, 119, 144) ;
    color:rgb(16, 227, 227) ;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    background-color:rgb(196, 119, 144) ;
    color:rgb(16, 227, 227) ;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
header a{
    color: aqua;
}
footer a{
    color: aqua;
}
.qui {
    width: 60%;
    justify-self: center;
}
a:hover {
    color: fuchsia;
}
.divqui {
    display: flex; 
    background-color:rgb(196, 119, 144) ;
}
.divqui p {
    padding: 10px;
}
.grid-container {
    border: 3px solid black;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(2, 1fr);
}
.grid-item {
    border: 1px solid black;
}
.first-item {
    grid-column: 1/3;
    grid-row: 1/ span 4      ;
}
.imgbailado{
    width: 60%;
}

/* quienes somos */ 

.bodyquienessomos{ 
    color: aliceblue;
    font-size: 1.25rem;
}

.bodyquienessomos p{
    padding: 20px;
    color:rgb(244, 248, 248) ;
    background-color: transparent;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedorquienessomos img{
    height: 50%;
    width: 100%;
    margin: 10px;
}

.divquienessomos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}


/* fiestas ya bailadas */
.fiestasyabailadasbody img{
    height: 90%;
    width: 100%;
}

